@mixin test-borders {
  border-style: solid;
  border-color: red;
  border-width: 3px;
}

@mixin message-borders {
  border-style: solid;
  border-color: #FAFAFA;
  border-width: 0px 0px 2px 0px;
}

$message-font: 16px;
$font-body: 14px;
$message-color: #5e5e5e;
$body-padding: 16px;

html {
  background-color: #FAFAFA;
}
.message__container {
  background: transparent;
  display: grid;
  width: 70%;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 14%;
  grid-gap: 20px;

  & > .message {
    // For testing the width & size of messsage.
    background-color: #FFFFFF;
    border-radius: 8px;
  }
}

.message__header {
  display: flex;
  align-items: flex-start;
  @include message-borders;

  .message__profile {
    border-radius: 100%;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 10px;
  }
}

.message__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
  @include message-borders;
}

.message__status {
  padding-bottom: $body-padding;
}
.message__going {
  color: #3399FF;
  font-size: $font-body;
  display: inline;
}

.message__pending {
  color: #FF613B;
  font-size: $font-body;
  display: inline;
}
.message__details {
  font-size: $font-body;
  color: $message-color;
  display: inline;
}

.message__members-going {
  border-radius: 100%;
  position: relative;
  width: 20px;
  height: 20px;
  // border: 8px solid white;
  //position:relative;
  //left: 45px;
}
.message__images {
  padding-bottom: $body-padding;
}
.message__footer {
  display: flex;
  padding: 18px 0px 18px 0;
  a {
    text-decoration: none;
    display: block;
    font-size: $message-font;
    color: $message-color;
    margin: auto;
  }

  &:hover {
    background-color: #2290FF;
    border-radius: 0px;
    a {
      color: white;
    }
  }
}

.message__name {
  font-size: $message-font;
}

.message__email {
  font-size: 16px;
  color: #626163;
}

.message__time {
  font-size: $message-font;
  color: $message-color;
}