.top__main {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}
.top__main>.top__flexbox {
    flex-grow: 1;
    width: 33%;
    height: 100px;
}
.top__main>.top__flexbox:nth-child(even) {
    background: white;
    border: 1px solid grey;
}

.top__main>.top__flexbox:nth-child(odd) {
    background: white;
    border: 1px solid grey;
}
.fa.fa-users {
    font-size:36px;
}
.fa.fa-calendar {
    font-size:36px;
}
.fa.fa-calendar-times-o {
    font-size:36px;
}
.flexbox__icon {
    float: left;
    border-radius: 100%;
    padding: 10px;
    background-color: lightgrey;
    margin: 20px 0 20px 10px;
}