.top__main {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
}
.top__main>.top__flexbox {
    flex-grow: 1;
    width: 33%;
    height: 100px;
}
.top__main>.top__flexbox:nth-child(even) {
    background: white;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
}

.top__main>.top__flexbox:nth-child(odd) {
    background: white;
    box-shadow: 1px 1px 1px 1px #e6e6e6;
}
.fa.fa-users {
    font-size:36px;
}
.fa.fa-calendar {
    font-size:36px;
}
.fa.fa-calendar-times-o {
    font-size:36px;
}
.flexbox__icon {
    float: left;
    border-radius: 100%;
    padding: 10px;
    background-color: #e6e6e6;
    margin: 20px 0 20px 10px;
}
.flexbox__titles {
    text-align: center;
}
.flexbox__paragraph {
    color: grey;
    text-align: center;
}
.highlighted {
    font-size: 25px;
    font-weight: bold;
    color: black;
}